section.feed {
  height: 100vh;
  background-color: var(--my-white);
}

.list-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 8px;
  gap: 10px;
}

.list-images h1.empty {
  color: var(--my-light-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}