/* 
  Modal
*/
.modal-wrapper {
  width: 450px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px ;
}

/* 
  Modal Header
*/
.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.btn-close {
  position:relative;
  width: 30px;
  height: 30px;
  background-color: var(--my-blue);
  color: var(--my-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease;
}
.btn-close:hover {
  background-color: var(--my-light-blue);
}
.modal-header .btn-close::before{
  content: "\00d7";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

  
  /* 
  Modal body
  */
.modal-body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-body form {
  width: 100%;
}


/* 
  Modal Footer
*/
.modal-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-reset {
  border: 2px solid var(--my-blue);
  color: var(--my-blue);
  background-color: var(--my-white);
}
.btn-reset:hover {
  color: var(--my-white);
  background-color: var(--my-blue);
}

.btn-create:hover {
  border: 2px solid var(--my-blue);
}