section.home {
  height: 100vh;
  background-color: var(--my-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content_container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: var(--my-light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.home h1 {
  padding: 20px 0;
  color: var(--my-white);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

